body{
    margin: 0px;
}

.col-lg > img{
    width: 100%;
    height: 50%;
}
.carousel-inner  img{
    height: 500px;
}
.carousel-inner h5,
.carousel-inner p{
    color: black;
}
.container{
   
   margin-left: 50px !important;
   margin-right: 50px !important;
}
